gym==0.14.0
numpy
scipy
lxml
pyprind
nose2
six
path.py
joblib
python-dateutil
cached_property
pygle
python3-distutils
libfreetype6-dev
libpng-dev
matplotlib
imutils
numpydoc
ray
opencv-python
dill
lz4
setproctitle
psutil
opencv-python
boto3
redis~=2.10.6
pandas
plotly
tabulate
tensorflow
awscli
torch==1.13.0+cu116 torchvision==0.14.0+cu116 torchaudio==0.13.0
pytz
tensorboardX
